{% block sw_string_filter %}
    <sw-base-filter
        :title="filter.label"
        :active="active"
        :show-reset-button="!!filter.value"
        class="sw-string-filter"
        @filter-reset="resetFilter"
    >
        {% block sw_string_filter_content %}
            <sw-text-field
                class="sw-string-filter__input"
                v-model="filter.value"
                :placeholder="filter.placeholder"
                :hasSuffix="enableManualMode"
                @change="updateFilter"
            >
                <template
                    v-if="enableManualMode"
                    #suffix="{ identification }"
                >
                    <sw-select-field v-model="currentComparator" @change="updateFilter(stringValue, true)">
                        <option value="contains">[...]</option>
                        <option value="equals"> = </option>
                    </sw-select-field>
                </template>
            </sw-text-field>
        {% endblock sw_string_filter_content %}
    </sw-base-filter>
{% endblock sw_string_filter %}
